/*font-family: 'Josefin Sans', sans-serif;

font-family: 'Courgette', cursive;
*/

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Courgette', cursive;
  color: black;
}

h1{
  font-size: 23px;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

.cabecera img{
  width: 100%;
  height: auto;
  opacity: .7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

.divisor {
  border: solid white 2.5px;
}

.titulo {
  height: 80px;
  padding-bottom: 10px;
}

.titulo_seccion {
  margin-top: 24px;
  margin-right: 33px;
}

.carta {
  background-color: #ed761e;
}
.imagen_carta {
  background-color: #ed761e;
}

.texto_carta {
  background-color: #ed761e;
}

.domicilios {
  background-color: #7a806a;
}

.imagen_domicilios {
  background-color: #7a806a;
}

.texto_domicilios {
  background-color: #7a806a;
}

.nosotros {
  background-color: #b78f3e;
}

.imagen_nosotros {
  background-color: #b78f3e;
}

.texto_nosotros {
  background-color: #b78f3e;
}

.restaurantes {
  background-color: #a64029;
}

.imagen_restaurantes {
  background-color: #a64029;
}

.texto_restaurantes {
  background-color: #a64029;
}

.social {
  width: 60%;

}

.redes{
  margin-top: 10px;
  margin-bottom: 7px;
  margin-left: 40px;
  margin-right: 40px;
}

.lista_redes {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0px;
}

.lista_redes_red {
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0px;
  text-align: center;
}

.carta_titulo {
  background-color: #ed761e;
}

.carta_titulo h1 {
  color: white;
}

.plato {
  border: 2.5px solid grey;
  color: black;
  font-size: 1.5rem;
  padding-top: 5px;
}

.plato_image {
  margin-top: 3px;
  margin-bottom: 3px;
}

.plato_descripcion_p {
  margin: 5px;
}

.plato_precio {
  font-style: italic;
  margin: 5px;
}

.nosotros_titulo {
  background-color: #b78f3e;
}

.nosotros_titulo h1 {
  color: white;
}

.nosotros_seccion {
  border: 2.5px solid grey;
  color: black;
  font-size: 1.5rem;
  padding-top: 5px;
}
.nosotros_seccion_image {
  margin-top: 3px;
  margin-bottom: 3px;
}

.nosotros_seccion_descripcion_p {
  margin: 5px;
}
